# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDtz4Iii1nRTk4dfMfYremukuCZrOVMupI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=travelreceipt-b4cb5.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=travelreceipt-b4cb5
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=travelreceipt-b4cb5.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=92578386731
NEXT_PUBLIC_FIREBASE_APP_ID=1:92578386731:web:150c3433df34729d586b6e
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VNYTS73L7G

# API URL
NEXT_PUBLIC_API_URL=http://localhost:5001
